name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.403
    - name: Restore
      run: dotnet restore
      working-directory: src
    - name: Build Debug
      run: dotnet build --no-restore
      working-directory: src
    - name: HACKHACK SKIPPING Test Debug
      run: echo HACKHACK SKIPPING dotnet test --no-build --verbosity normal
      working-directory: src
    - name: Build Release
      run: dotnet build --no-restore -c Release
      working-directory: src
    - name: HACKHACK SKIPPING Test Release
      run: echo HACKHACK SKIPPING dotnet test --no-build --verbosity normal -c Release
      working-directory: src
    - name: Pack
      run: dotnet pack -c Release
      working-directory: src
    - name: Add NuGet Source
      run: dotnet nuget add source --username BigRedProf --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/BigRedProf/index.json"
    - name: Push BigRedProf.Data.Core package
      run: dotnet nuget push ./Core/bin/Release/BigRedProf.Data.Core.*.nupkg --api-key ${{ secrets.GITHUB_TOKEN }}  --source "github" --skip-duplicate
      working-directory: src
    - name: Push BigRedProf.Data.PackRatCompiler package
      run: dotnet nuget push ./PackRatCompiler/bin/Release/*.*nupkg --api-key ${{ secrets.GITHUB_TOKEN }}  --source "github" --skip-duplicate
      working-directory: src
    - name: Push BigRedProf.Data.Tape package
      run: dotnet nuget push ./Tape/bin/Release/BigRedProf.Data.Tape.*.nupkg --api-key ${{ secrets.GITHUB_TOKEN }}  --source "github" --skip-duplicate
      working-directory: src
